*{margin: 0;padding: 0;display: block;}

.khoitt1 {
    margin-top: -475px;
}

.xuong:after {content: "";position: absolute;width: 4px;height: 8px;background: white;left: 50%;top: 15%;margin-left: -2px;}

.xuong:hover {
    bottom: 4%;
}

.xuong {
    width: 40px;
    height: 77px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    bottom: 2%;
    margin-left: -20px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}

.khoittnho p {
    font-size: 13px;
    line-height: 21px;
    color: black;
}

span.motaqt {
    font-size: 13px;
    margin-bottom: 7px;
    color: #ef3c5b;
}

.khoittnho h3.tieudecap3 {
    font-size: 16px;
    color: #e35855;
    margin-bottom: 20px;
}

span.dam {
    font-weight: bold;
}

h2.tieudecap2 {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}

.tieudeto h1 {
    display: inline;
}

.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px;
}

a.nuthire.btn.btn-primary {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0px;
}

.tt p {color: black;font-size: 16px;line-height: 24px;width: 50%;margin: auto;margin-bottom: 34px;}

.tt h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.tt img {border-radius: 50%;margin-top: -86px;/* margin-bottom: 50px; */}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 25%;
}

.tt img {
    height: 188px;
    width: 252px;
}




.khoitt1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e4555b;
    z-index: 1;
} 
ul{
    list-style-type: none;
}
a.nav-link {
    font-family: segeo ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height: 35px;
}
li.nav-item {
    margin: 0px;
    padding: 0px;
    margin: 0 17px;
}
.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
     position: relative;/* dat lam bo  */
}
body, html {
    width: 100%;
    height: 100%;
}
@media (max-width:576px)
{
    *{}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #e24f1a;
    }
a.nav-link {
    font-family: segeo ui;
    text-transform: uppercase;
    font-size: 10px;
    color: #101010;
    line-height: 13px;
}

.tt p {
    font-size: 13px;
}

.tt h2 {
    margin-top: -44px;
    font-size: 20px;
}

.tt img {
    margin-top: 76px;
    width: 175px;
    height: 130px;
}
.tt p {
    margin-bottom: 24px;
}

    ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {
        float: none;
        text-align: center;
        margin-bottom: -7px;
        background: white;
        width: 122%;
        position: relative;
        right: -31px;
        padding: 1px 56px;
    }

    li.nav-item {
        /* float:none!important ; */
        display: inline;
        margin: 0 0;
    }
    a.navbar-brand {
        display: block;
        text-align: center;
        width: 100%;
    }
}
